.header, .top-main, .footer{
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.header {
    margin: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-list {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.top-text {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.top-subtext {
    color: #E5E7EB;
}

.Sign-Up {
    border-radius: 5px;
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 8px 30px;
    font-size: 16px;
}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
}

.top-image {
    padding: 10px;
    align-self: center;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 25px;
}

.four-images {
    display: flex;
    justify-content: center;
}

.illustration-text {
    max-width: 200px;
}

.image-one, .image-two, .image-three, .image-four {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.second-main {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.top-main {
    display: flex;
    justify-content: center;
}

.first-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}
.quote-author {
    font-weight: bold;
    align-self: center;
    font-size: 24px;
}

.third-main {
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
}